mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    &:hover{
      background-color: lightgray;
      border-radius: 1rem;
    }
  }
}

.button-container{
  button{
    margin:1rem;
  }
}
